In [7]:
import pandas as pd

In [8]:
pd.read_csv('items.csv', sep=',', encoding='latin-1')

,link,price,title
0,https://atlanta.craigslist.org/atl/cto/d/evans...,"$1,800",2008 HONDA CRV *RUNS DRIVES*GREAT **34MP CLEAN...
1,https://atlanta.craigslist.org/atl/cto/d/norcr...,"$1,200",2008 Honda Civic EX-L Cruise
2,https://atlanta.craigslist.org/atl/cto/d/jacks...,"$1,500",2007 Acura TL Type S Navigation Back Up Camera
3,https://atlanta.craigslist.org/nat/cto/d/alpha...,"$2,000",Commuter Special
4,https://atlanta.craigslist.org/atl/cto/d/lawre...,"$1,800","2009 Honda Civic EXL, Excellent Condition, 51K..."
5,https://atlanta.craigslist.org/atl/cto/d/athen...,"$1,800",Ice cold A/C 2010 Honda Civic Running excellent
6,https://atlanta.craigslist.org/atl/cto/d/antio...,"$45,500",2018 BMW 540i ~Fully Loaded!~
7,https://atlanta.craigslist.org/atl/cto/d/covin...,"$3,000",1997 Toyota Camry
8,https://atlanta.craigslist.org/sat/cto/d/fairb...,"$3,500",2007 TOYOTA SIENNA CE
9,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$1,400",Disability2008 Nissan Pathfinder SE
10,https://atlanta.craigslist.org/nat/cto/d/ellij...,"$6,950",EXCELLENT SKOOLIE BUSES WIDE SELECTION AVAILAB...
11,https://atlanta.craigslist.org/eat/cto/d/conye...,"$9,000",2007 escalade luxury 135 miles clean tittle ca...
12,https://atlanta.craigslist.org/nat/cto/d/alpha...,"$17,900",***2013 Mercedes-Benz S550 Designo AMG***
13,https://atlanta.craigslist.org/atl/cto/d/bucha...,"$14,800",2018 Hyundai Elantra Sedan
14,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$5,100",2012 Nissan Sentra
15,https://atlanta.craigslist.org/atl/cto/d/carro...,"$5,800",2001 Toyota Tacoma
16,https://atlanta.craigslist.org/nat/cto/d/cummi...,"$9,050",***2003 Mercedes-Benz SL500 AMG***
17,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$1,200",2007 Toyota Camry XLE clean
18,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$18,900",2014 chevrolet silverado 1500
19,https://atlanta.craigslist.org/nat/cto/d/atlan...,"$4,200",Acura TL 4 door Sedan with 3.2 Liter J32 VTEC ...
20,https://atlanta.craigslist.org/eat/cto/d/litho...,"$1,050",1988 GMC Sierra SLE
21,https://atlanta.craigslist.org/atl/cto/d/litho...,"$2,000",2012 HYUNDAI SANTA FE ALL WHELL DRIVE GREAT
22,https://atlanta.craigslist.org/atl/cto/d/gaine...,"$4,895",2004 FORD RANGER EDGE SUPERCAB
23,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$4,500",2005 Toyota Highlander
24,https://atlanta.craigslist.org/sat/cto/d/warne...,"$3,250",Ford exsplorer sport
25,https://atlanta.craigslist.org/nat/cto/d/canto...,"$3,500",2008 Mazda 3 Sedan
26,https://atlanta.craigslist.org/atl/cto/d/warne...,"$1,500",V W 1991 VOLKSWAGEN CARIOLET CONVERTABLE
27,https://atlanta.craigslist.org/atl/cto/d/decat...,"$3,900",2007 jeep compass sport
28,https://atlanta.craigslist.org/sat/cto/d/stone...,"$1,000",1994 Chevy 1500
29,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$2,300",Nice 2005 Mazda Tribute
...,...,...,...
90,https://atlanta.craigslist.org/nat/cto/d/dawso...,"$7,500",2011 Toyota Corolla LE FWD
91,https://atlanta.craigslist.org/nat/cto/d/bufor...,"$1,500",2002 Lexus is300
92,https://atlanta.craigslist.org/wat/cto/d/dalla...,"$5,400",2010
93,https://atlanta.craigslist.org/atl/cto/d/river...,"$1,900",1998 Honda Civic DX
94,https://atlanta.craigslist.org/sat/cto/d/newna...,"$5,000",7 Series BMW V12 Security Car
95,https://atlanta.craigslist.org/atl/cto/d/carro...,"$2,000",2006 Jaguar S-type
96,https://atlanta.craigslist.org/atl/cto/d/dougl...,"$15,800",Honda Accord 2015 Coupe EX-L Pearl White Autom...
97,https://atlanta.craigslist.org/nat/cto/d/gayle...,"$1,500",1994 BMW 325i
98,https://atlanta.craigslist.org/atl/cto/d/flowe...,"$7,995",2012 CHEVROLET EQUINOX LTZ
99,https://atlanta.craigslist.org/wat/cto/d/dalla...,"$4,800",2008 Honda Civic
100,https://atlanta.craigslist.org/atl/cto/d/dougl...,"$16,800",Ford F150 XLT 2014 Grey F-150 Super Cab 69K M...
101,https://atlanta.craigslist.org/nat/cto/d/kenne...,"$3,500",2013 Kia Soul plus
102,https://atlanta.craigslist.org/sat/cto/d/dalla...,"$3,900",2008 Honda Civic
103,https://atlanta.craigslist.org/nat/cto/d/clerm...,$1,1981 Chevrolet Short Bed 77 K miles
104,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$3,000",Nice Acura TL For Sale By Owner
105,https://atlanta.craigslist.org/atl/cto/d/lawre...,"$3,900",2008 CHEVY MALIBU CLASSIC
106,https://atlanta.craigslist.org/wat/cto/d/powde...,"$10,000",2007 Ford F150 Harley Davidson
107,https://atlanta.craigslist.org/atl/cto/d/covin...,"$2,000",1984 Toyota pickup
108,https://atlanta.craigslist.org/atl/cto/d/powde...,"$3,500",2005 Lincoln Navigator
109,https://atlanta.craigslist.org/atl/cto/d/dalla...,"$5,999",2005 BMW 330i (6-speed manual)
110,https://atlanta.craigslist.org/atl/cto/d/dacul...,"$5,000",BMW 328I 2009
111,https://atlanta.craigslist.org/atl/cto/d/lawre...,"$3,900",2005 SCION XB
112,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$6,500",2006 Chevrolet Suburban 1500 LT 4WD
113,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$11,800","2015 Honda Civic, Black Sedan, LX"
114,https://atlanta.craigslist.org/wat/cto/d/dougl...,"$2,400",2007 Honda Pilot EXL Engine is knocking.
115,https://atlanta.craigslist.org/nat/cto/d/marie...,"$43,000",2016 Tesla Model S 75D
116,https://atlanta.craigslist.org/sat/cto/d/gay-0...,$999,03 Ford Windstar van
117,https://atlanta.craigslist.org/nat/cto/d/marie...,"$2,300",2004 Mazda 3
118,https://atlanta.craigslist.org/atl/cto/d/atlan...,"$1,000",2008 Nissan Altima SE
119,https://atlanta.craigslist.org/eat/cto/d/dulut...,$400,2007 pt cruiser